@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




.custom-scroll::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #4F46E5; 
  
}


.custom-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

.scroll-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}
 @keyframes loading {
   0%, 100% {
    transform: scale(1);
    background-color: #2563EB;
  }
  50% {
    transform: scale(1.6);
    background-color: #81a4ef; 
  }
 }
.loader{
  animation: loading 2s infinite linear;
}